<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/cadastro-mentor.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Cadastro Mentorastic</title>
</head>
<body>
    <header>
        <div id="container-header">
            <div class="logo">
               <a href="/"> Mentorastic.</a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/mentores">Mentores</a></li>
                        <li><a href="/cadastro">Conecte-se</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buttonCadastro">
                <button><a href="/cadastro-mentor">Cadastre-se</a></button>
            </div>
        </div>
    </header>

    <main>
        <div class="conteiner-left">;
            <div class="cadastro-container">
                <div class="img-container">
                    <img src="/assets/images/user-cadastro1.jpg" alt="">
                </div>

                <div class="container-right">
                    <div class="form-title">
                        <h1> Cadastre-se </h1>
                    </div>
                
                    <form action="" method="POST">
                        <p> 
                            <label for="Nome">Nome completo:</label>
                            <input type="text" name="name" id="label" autofocus required  placeholder="Digite seu nome">
                        </p> 
                        <p> 
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" id="label" autofocus required  placeholder="Digite seu E-mail">
                        </p> 
                        
                        <p>
                            <label for="password">Escolha uma senha:</label>
                            <input type="password" name="password" id="label" required placeholder="Digite sua senha">
                        </p>

                        <p>
                            <label for="password">Confirme sua senha:</label>
                            <input type="password" name="password" id="label" required placeholder="Digite sua senha">
                        </p>

                        <p class="select">
                            <label class="sele" for="perfil">Áreas:</label>
                            <select class="option-label" name="option">
                                <option value="horario">Selecionar</option>
                                <option value="area">Programação Full Stack</option>
                                <option value="area">Mobile Development</option>
                                <option value="area">Web Design</option>
                                <option value="area">Data Analytics & Data Science</option>
                                <option value="area">Gerenciamento de projetos TI</option>
                                <option value="area">Clound Computing</option>
                            </select>
                        </p>
                        <p class="select">
                            <label class="sele" for="perfil">Horários:</label>
                            <select class="option-label" name="option">
                                <option value="dia">Selecionar</option>
                                <option value="horario">08h00</option>
                                <option value="horario">09h00</option>
                                <option value="horario">10h00</option>
                                <option value="horario">11h00</option>
                                <option value="horario">12h00</option>
                                <option value="horario">13h00</option>
                                <option value="horario">14h00</option>
                                <option value="horario">15h00</option>
                                <option value="horario">16h00</option>
                                <option value="horario">17h00</option>
                                <option value="horario">18h00</option>
                                <option value="horario">19h00</option>
                                <option value="horario">20h00</option>
                                <option value="horario">21h00</option>
                            </select>
                        </p>
                        <p class="select">
                            <label class="sele" for="perfil">Dias da semana:</label>
                            <select class="option-label" name="option">
                                <option value="area">Selecionar</option>
                                <option value="dia">Segunda-feira</option>
                                <option value="dia">Terça-feira</option>
                                <option value="dia">Quarta-feira</option>
                                <option value="dia">Quinta-feira</option>
                                <option value="dia">Sexta-feira</option>
                            </select>
                        </p>

                        <!--<p>
                            <label > <input type="submit" value="Cadastrar"/></label>
                           

                        </p>-->
                        <button class="buttonCadastrar" type="submit">Cadastrar</button>
                    </form>

                <div class="Login">
                    <span>Já é cadastrado? <a href="">Faça seu login</a></span> 
                </div>
            </div>
        </div>
        </div>
    </main>  

</body>
</html>