<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Mentorastic</title>
</head>
<body>
    <header>
        <div id="container-header">
            <div class="logo">
               <a href="/"> Mentorastic.</a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/mentores">Mentores</a></li>
                        <li><a href="/cadastro">Conecte-se</a></li>
                        <li><a href="/">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buttonCadastro">
                <button><a href="">Cadastre-se</a></button>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="login-container">
                <div class="img-container">
                    <img src="images/login.png" alt="">
                </div>

                <div class="form-container">
                    <div class="form-title">
                        <h1> Login </h1>
                    </div>
                
                    <form action="" method="POST">
                        <p> 
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" autofocus required  placeholder="Digite seu e-mail">
                        </p> 
                        
                        <p>
                            <label for="password">Senha:</label>
                            <input type="password" name="password" id="password" required placeholder="Digite sua senha">
                        </p>
                        <span><a href="">Esqueci a senha</a></span>
                        <button class= "loginButton" type="submit">Login</button>
                    </form>

                <div class="cadastro">
                    <span>Não tem conta? <a href="">Faça seu cadastro!</a></span>
                </div>
            </div>
        </div>
        </div>
    </main>  
</body>
</html>