<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/mentores.css">
    <title>Mentores</title>
</head>
<body>
    <header>
        <div id="container-header">
            <div class="logo">
               <a href="/"> Mentorastic.</a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/mentores">Mentores</a></li>
                        <li><a href="/cadastro">Mentorados</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buttonCadastro">
                <button><a href="/cadastro-mentor">Seja um mentor</a></button>
            </div>
        </div>
    </header>


    
    <main class="container-lg">
        <h1 class="row frase-mentores">Estes são nossos mentores fantásticos!</h1>
        <ul class="row container-geral">
            <li class="col-lg-3 col-md-12 container-filtro-mentores">
                <form action="" method="POST">
                    <ul class="container-label">
                        <li>
                            <label class="filtro-input-name" for="area">Áreas de mentoria</label>
                            <select class="filtro-input-select" name="area" id="area">
                                <option value="todos">Áreas</option>
                                <option value="fullstack">Programação Fullstack</option>
                                <option value="data">Data Analytics e Data Science</option>
                                <option value="mobile">Mobile Development</option>
                                <option value="projetos">Gerenciamento de Projetos TI</option>
                                <option value="design">Web Design</option>
                                <option value="cloud">Cloud Computing</option>
                            </select>
                        </li>
                        <li>
                            <label class="filtro-input-name" for="dia">Dias da semana</label>
                            <select class="filtro-input-select" name="dia" id="dia">
                                <option value="todos">Dias da semana</option>
                                <option value="segunda">Segunda-feira</option>
                                <option value="terca">Terça-feira</option>
                                <option value="quarta">Quarta-feira</option>
                                <option value="quinta">Quinta-feira</option>
                                <option value="sexta">Sexta-feira</option>
                                <option value="sabado">Sábado</option>
                                <option value="domingo">Domingo</option>
                            </select>
                        </li>
                        <li>
                            <label class="filtro-input-name" for="hora">Horários</label>
                            <select class="filtro-input-select" name="hora" id="hora">
                                <option value="todos">Horários</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </li>
                    </ul>
                    <button class="btn buscar-button" type="button">Filtrar</button>  
                </form>
            </li>

            <li class="col-lg-9 col-md-12 container-mentores">
                <div class="container">
                    <article class="container container-mentor">
                        <div class="row">
                            <div class="col-2 mentor-foto">
                                <img class="container" src="images/photo.jpg" alt="">
                            </div>
                            <div class="col-10 mentor-textos">
                                <h2>João Guilherme</h2>
                                <h3>Web Design</h3>
                                <p>Olá, meu nome é João Guilherme, sou consultor de marketing, Web Designer e Designer Gráfico. Busco ajudar empreendedores, micro, pequenas empresas a construir sua presença online, conquistar novos e mais clientes e aumentar suas vendas através da internet.</p>
                                <p>Olá, meu nome é João Guilherme, sou consultor de marketing, Web Designer e Designer Gráfico. Busco ajudar empreendedores, micro, pequenas empresas a construir sua presença online, conquistar novos e mais clientes e aumentar suas vendas através da internet.</p>
                            </div>
                            <div class="container">
                                <div class="row container-button-mentor">
                                    <a class="col-12" href="#"><button type="button" class="btn">Mais Informações</button></a>
                                </div>
                            </div>
                    </article>

                    <article class="container container-mentor">
                        <div class="row">
                            <div class="col-2 mentor-foto">
                                <img class="container" src="images/photo.jpg" alt="">
                            </div>
                            <div class="col-10 mentor-textos">
                                <h2>João Guilherme</h2>
                                <h3>Web Design</h3>
                                <p>Olá, meu nome é João Guilherme, sou consultor de marketing, Web Designer e Designer Gráfico. Busco ajudar empreendedores, micro, pequenas empresas a construir sua presença online, conquistar novos e mais clientes e aumentar suas vendas através da internet.</p>
                            </div>
                            <div class="container">
                                <div class="row container-button-mentor">
                                    <a class="col-12" href="#"><button type="button" class="btn">Mais Informações</button></a>
                                </div>
                            </div>
                    </article>

                    <article class="container container-mentor">
                        <div class="row">
                            <div class="col-2 mentor-foto">
                                <img class="container" src="images/photo.jpg" alt="">
                            </div>
                            <div class="col-10 mentor-textos">
                                <h2>João Guilherme</h2>
                                <h3>Web Design</h3>
                                <p>Olá, meu nome é João Guilherme, sou consultor de marketing, Web Designer e Designer Gráfico. Busco ajudar empreendedores, micro, pequenas empresas a construir sua presença online, conquistar novos e mais clientes e aumentar suas vendas através da internet.</p>
                            </div>
                            <div class="container">
                                <div class="row container-button-mentor">
                                    <a class="col-12" href="#"><button type="button" class="btn">Mais Informações</button></a>
                                </div>
                            </div>
                    </article>
                </div>
            </li>
        </ul>
    </main>


    <footer class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-3">
                <div class="footer-tittle-1">Áreas de mentoria</div>
                <div class="container container-itens-1">
                    <ul>
                        <li class="col-10 footer-subtittle-1"><a href="#">Programação Full Stack</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Mobile Development</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Web Design</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="container container-intens-1">
                    <ul>   
                        <li class="col-10 footer-subtittle-1"><a href="#">Data Analytics & Data Science</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Gerenciamento de projetos TI</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Clound Computing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                    <div class="footer-tittle-2">Institucional</div>
                    <div class="container container-itens-2">
                        <ul>
                            <li class="col-7 footer-subtittle-1"><a href="#">Quem somos</a></li>
                            <li class="col-7 footer-subtittle-1"><a href="#">Termos</a></li>
                            <li class="col-7 footer-subtittle-1"><a href="#">Privacidade</a></li>
                        </ul>
                    </div>    
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="container container-itens-3">
                    <ul>
                        <li class="col-12 footer-subtittle-1"><img class="img" src="images/email.png"></li>
                        <li class="col-12 footer-subtittle-2">faleconosco@email.com</li>
                        <li class="col-12 footer-subtittle-2">Envie-nos sua sugestão de mentoria!</li>
                    </ul>
                </div>    
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>

</html>