<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/perfil-mentorado.css">
    <title>Mentores</title>
</head>
<body>
    <header>
        <div id="container-header">
            <div class="logo">
               <a href="/index.html"> Mentorastic.</a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="./login.html">Home</a></li>
                        <li><a href="#">Mentores</a></li>
                        <li><a href="#">Áreas de Mentoria</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </header>


    
    <main class="container-lg">

        <!-- container configuracoes -->
        <div class="row container-configuracoes">
            <div class="col-12 linha-configuracoes"><a href="#">Configurações</a></div>
            <div class="col-12 linha-configuracoes">Sair</div>
        </div>

        <!-- container informacoes aluno -->
        <div class="row linha-informacoes-aluno">
            <div class="container-lg container-informacoes-aluno">
                <div class="row">
                    <div class="col-2 container-foto-mentorado"><img src="/assets/images/mentorado.png" alt=""></div>
                    <div class="col-10 container-dados-aluno">
                        <h1>Alunildo da Silva</h1>
                        <div class="container-email">
                            <a href="#"><img src="/assets/images/email-pequeno.png" alt=""></a>
                            <a href="#"><span>alunildo@email.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- container texto e agenda do aluno -->
        <div class="row linha-agenda-aluno">
            <div class="container-lg container-agenda-aluno">
                <div class="row">
                    <!-- container texto -->
                    <div class="col-2 container-texto-aluno">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <!-- container agenda -->
                    <div class="col-10 container-agenda-interno">
                        <h2>Mentorias agendadas:</h2>
                        <ul class="texto-agenda">
                            <li class="coluna-externa-datas">
                                <ul class="coluna-datas">
                                    <li>07/09</li>
                                    <li>13/09</li>
                                </ul>
                            </li>
                            <li class="coluna-externa-horas">
                                <ul class="coluna-horas">
                                    <li>10:00</li>
                                    <li>19:00</li>
                                </ul>
                            </li>
                            <li class="coluna-externa-areas">
                                <ul class="coluna-areas">
                                    <li>Desenvolvimento Full-Stack</li>
                                    <li>Web Design</li>
                                </ul>
                            </li>
                            <li class="coluna-externa-professores">
                                <ul class="coluna-professores">
                                    <li>Mentorildo de Jesus</li>
                                    <li>Mentorilda Costa</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="row linha-seta">
                            <img src="/assets/images/down-arrow.png" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- linha mentorias realizadas -->
        <div class="row linha-mentorias-realizadas">
            <div class="container-lg">
                <div class="row">
                    <div class="col-12 container-mentorias-realizadas"><a href="#">Mentorias realizadas</a></div>
                </div>
            </div>
        </div>

    </main>


    <footer class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-3">
                <div class="footer-tittle-1">Áreas de mentoria</div>
                <div class="container container-itens-1">
                    <ul>
                        <li class="col-10 footer-subtittle-1"><a href="#">Programação Full Stack</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Mobile Development</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Web Design</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="container container-intens-1">
                    <ul>   
                        <li class="col-10 footer-subtittle-1"><a href="#">Data Analytics & Data Science</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Gerenciamento de projetos TI</a></li>
                        <li class="col-10 footer-subtittle-1"><a href="#">Clound Computing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                    <div class="footer-tittle-2">Institucional</div>
                    <div class="container container-itens-2">
                        <ul>
                            <li class="col-7 footer-subtittle-1"><a href="#">Quem somos</a></li>
                            <li class="col-7 footer-subtittle-1"><a href="#">Termos</a></li>
                            <li class="col-7 footer-subtittle-1"><a href="#">Privacidade</a></li>
                        </ul>
                    </div>    
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="container container-itens-3">
                    <ul>
                        <li class="col-12 footer-subtittle-1"><img class="img" src="./assets/images/email.png"></li>
                        <li class="col-12 footer-subtittle-2">faleconosco@email.com</li>
                        <li class="col-12 footer-subtittle-2">Envie-nos sua sugestão de mentoria!</li>
                    </ul>
                </div>    
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>

</html>