@font-face{
    font-family:poppins-black;
    src: url('../fonts/Poppins-Black.ttf');
}
@font-face {
    font-family:poppins-ligth;
    src: url('../fonts/Poppins-Light.ttf');
}

body * {
    box-sizing: border-box;
}

main {
    font-family: 'poppins-ligth';
}

.menu a {
    padding: 0 50px;
}

.container-configuracoes {
    padding-top: 10px;
    text-align: right;
}

.linha-configuracoes {
    padding: 10px 0;
    font-family: 'poppins-black';
}

.linha-configuracoes a, .linha-configuracoes a:hover, .linha-configuracoes a:focus, .linha-configuracoes a:active {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.container-foto-mentorado img {
    max-width: 100%;
    border-radius: 50%;
}

.container-email {
    font-family: 'poppins-black';
    font-size: 15px;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-dados-aluno h1 {
    font-family: 'poppins-black';
    font-size: 25px;
    padding: 10px 0;
}

.container-email a, .container-email a:hover, .container-email a:focus, .container-email a:active {
    text-decoration: none;
    color: inherit;
}

.container-email span {
    padding: 0 5px;
}

.container-texto-aluno {
    padding: 10px;
}

.container-agenda-interno {
    background-color: #E0DEE1;
    padding: 15px 10px;
    text-align: center;
}

.container-agenda-interno h2 {
    font-family: 'poppins-black';
    text-align: center;
    font-size: 20px;
}

.texto-agenda {
    display: flex;
    flex-direction: row;
}

.coluna-externa-datas, .coluna-externa-horas {
    width: 15%;
}

.coluna-datas {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.coluna-datas li {
    background-color: #EBDC58;
    margin: 5px;
    padding: 5px 10px;
    font-family: 'poppins-black';
    text-align: center;
}

.coluna-horas {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.coluna-horas li {
    background-color: #c7c6c7;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
}

.coluna-externa-areas, .coluna-externa-professores {
    width: 35%;
}

.coluna-areas, .coluna-professores {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.coluna-areas li, .coluna-professores li {
    background-color: #c7c6c7;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
}

.linha-seta {
    display: inline-block;
}

.container-mentorias-realizadas {
    text-align: right;
    padding: 20px 0;
}

.container-mentorias-realizadas a, .container-mentorias-realizadas a:hover, .container-mentorias-realizadas a:focus, .container-mentorias-realizadas a:active {
    text-decoration: none;
    color: inherit;
    color: #8D07F6;
}